extends ../common/layout

block style_links
  link(rel='stylesheet', href='/stylesheets/doctor/clinic_details.css')

block content
  div#clinic_details_container
    table.table.table-bordered.table-dark
      thead
        tr
          th(colspan="2") Clinic/Hospital Details
      - const id = clinic[0]; 
      - const clinic_name = clinic[1]; 
      - const role = clinic[2]; 
      - const lat = clinic[3]; 
      - const long = clinic[4]; 
      - const joined_on = clinic[5]; 
      tbody
        tr
          td Name
          td #{clinic_name}   
        tr
          td Joined on
          td #{joined_on}
        tr
          td Role
          td #{role} 
        tr
          td Location
          td 
            a(href="#") View 
            
    div.controls.text_centered
      button.btn.btn-danger Remove yourself from this clinic
