#doc_main_container
{
    margin-top: 40px;
}
#clinic_input
{
    margin-right: 10px;
}
#filter_appointments_form
{
    margin: 10px 0;
}

#appointments_body > div
{
    margin-top: 10px;
}
a.appointment{
    text-decoration: none;
    background-color: rgba(0,0,0,0.03);
    display: block;
    padding: 10px;
    margin-bottom: 3px;
}
a.appointment:hover{
    background-color: rgba(0,0,0,0.05);
}
