extends common/layout

block content
  h3.text_centered(style="margin-top:30px;") This page will act as the main page for doctor/user. Meanwhile explore login page for 
    a(href="/login/doctor") Doctor
    span  or 
    a(href="/login/user") User    
    div I iz adding this sentence cuz I was told to do so.